h1 {
    font-size: 2rem;
    font-size: clamp(2rem, 1.333rem + 2.133vw, 4rem);
    /* @media (width >= 40rem) {
        font-size: 3rem;
    }

    @media (width >= 60rem) {
        font-size: 4rem;
    } */
}